[core]
	editor = nvim
[pull]
    rebase = true
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
    ; git difftool -d origin/HEAD
	cmd = nvim -c \"DiffTool $LOCAL $REMOTE\"
[difftool]
    prompt = false
[merge]
    tool = nvimdiff
[mergetool "nvimdiff"]
    cmd = nvim -d -c \"wincmd w\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[init]
    defaultBranch = main
[rebase]
	updateRefs = true
; [maintenance]
; "git maintenace start"
;     repo = {repo_path}
